:root {
  --mainPurple: #4b2a6d;
  --mainWhite: #f6f6f6;
  --mainRed: #ce2929;
  --lightPurple: #a07bc5;
  --darkPurple: #39254d;
}

body {
  font-family: 'Rubik', sans-serif !important;
  background-color: var(--mainWhite) !important;
}
a {
  text-decoration: none !important;
}

.active {
  left: 0 !important;
  transition: 350ms ease;
}